.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    &-btn {
        background-color: transparent;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        padding: 1rem;
        border: 5px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: 0.4s ease-in-out;
        font-weight: 700;
        letter-spacing: 0.2rem;
        cursor: pointer;
        svg {
            font-size: 3rem;
        }
        &:hover {
            border-radius: 3rem;
            border-width: 10px;
            border-top-color: #EA4335;
            border-bottom-color: #34A853;
            border-left-color: #FBBC05;
            border-right-color: #4285F4;
        }

    }
}